
.breadcrumb li {
    font-size: 16px !important;
}
.breadcrumb {
    width: 1240px;
    margin: 0 auto;
    background-color: #fff;
    padding-left: 8px;
    box-sizing: border-box;
}

/*分页*/
.pageBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/* 产品 */
.tuijian {
    width: 1240px;
    height: 300px;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}

.zuoyou,.zuoyouTemplate {
    width: 75px;
    height: 40px;
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    border-radius: 3px;
    border:1px solid #f5f5f5;
}

.zuoyou:hover,.zuoyouTemplate:hover {
    background-color: #fff;
    color: #000;
    border: 3px solid #ff60a3;
}
.zuoyou i:hover,.zuoyouTemplate i:hover,
.zuoyou li:hover,.zuoyouTemplate li:hover{
    color: #ff60a3;
    font-weight: 700;
}
.tuijianBox,.tuijianBoxTemplate {
    width: 2480px;
    height: 300px;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 1s;
    margin-left: 5px;
    align-items: center;
    display: flex;
}

.tuijian-box {
    width: 234px;
    height: 280px;
    background: #ffffff;
    overflow: hidden;
    float: left;
    margin-right: 14px;
    cursor: pointer;
    border: 1px solid #f5f5f5;
    border-radius: 3px;
}

.tuijian-box:hover {
    transform: translate(0, -5px);
    box-shadow: 3px 3px 10px 5px #e0e0e0;
    transition: all 0.5s;
}

.tuijian-box-pic {
    width: 140px;
    height: 140px;
    margin: 20px 47px 17px 47px;
}

.tuijian-name {
    text-align: center;
}

.tuijian-name-prize {
    text-align: center;
    margin-top: 60px;
    font-weight: 600;
}

.tuijian-praise {
    text-align: center;
    color: #757575;
    font-size: 12px;
    margin-top: 10px;
}

.jd-hd {
    width: 1226px;
    height: 58px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
}

.jd-hd-zi {
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
}

/*新闻*/
.viedo {
    width: 1240px;
    height: 285px;
    margin: 0 auto;
}

.viedo-box {
    width: 296px;
    height: 285px;
    background: #ffffff;
    float: left;
    margin:0 14px 14px 0;
    border: 1px solid #f5f5f5;
    border-radius: 3px;
    z-index: 10 !important;
}

.viedo-box:hover {
    cursor: pointer;
    transform: translate(0, -5px);
    box-shadow: 3px 3px 10px 5px #e0e0e0;
    transition: all 0.5s;
}

.viedo-box-img {
    width: 296px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viedo-box-img img {
    height: 100%;
}

.viedo-box-name {
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
}

.viedo-box-int {
    margin: 10px auto;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    border-radius: 10px;
    color: #ff60a3;
    letter-spacing: 3px;
}

/*底部*/
.end-box {
    width: 100%;
    height: 182px;
    background: #000;
    margin-top: 20px;
    padding:20px 350px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.end-box-write {
    width: 360px;
    height: 20px;
    margin: 20px auto 5px;
    display: flex;
    justify-content: space-between;
}

.end-box-write-left {
    width: 125px;
    height: 100%;
    font-size: 13px;
    line-height: 20px;
    color: #fff;
}

.end-box img {
    width: 100px;
    height: 100px;
}

.end-box-write-right {
    width: 196px;
    height: 20px;
    font-size: 13px;
    line-height: 20px;
    color: #fff;
}

.end-box-tow-wow {
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color: #fff;
}

/* 分类 */
.banner-box {
    width: 1240px;
    height: 460px;
    margin: 20px auto;
    position: relative;
    left: 0;
    top: 0;
}

.banner-list {
    width: 234px;
    height: 100%;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    padding: 20px 0;
    box-sizing: border-box;
    border-radius: 10px;
}

.banner-list-item {
    width: 100%;
    height: 42px;
    line-height: 42px;
    color: #fff;
    font-size: 14px;
    padding-left: 30px;
    box-sizing: border-box;
    cursor: pointer; /* 鼠标移入变手 */
}

.bannerListRight {
    width: 993px;
    height: 460px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 234px;
    display: none;
    box-sizing: border-box;
    box-shadow: 0 0 2px #333333;
    box-sizing: border-box;
}

.bannerListBox1 {
    width: 100%;
    height: 31px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.bannerListBox2 {
    width: 236px;
    height: 100%;
    display: flex;
    color: #333333;
    margin-left: 20px;
}

.bannerListBox2:hover {
    color: #ff6700;
}

.bannerListBox2-img {
    width: 35px;
    height: 100%;
    background: #ff6700;
}

.bannerListBox2-img img {
    width: 100%;
}

.banner-list-item i {
    float: right;
    margin-right: 25px;
    font-size: 18px;

}

.tly {
    background: #cfcdcb;
}
/*产品详情页*/
.imgConCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgConCenter img{
    width: 50%;
    margin: 0 auto !important;
}
.layui-card{
    font-size: 18px !important;
}
.layui-card-header{
    font-size: 20px !important;
}
.spaceFont{
    letter-spacing:38px;
}
/*模板详情*/
.option{
    padding-bottom: 60px;
}
.option-list{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}
.option-list ul{
    display: flex;
    flex-wrap: wrap;
}
.option-list > span {
    display: inline-block;
    height: 43px;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 40px;
    box-sizing: border-box;
    color: #fff;
    background: #000;
    margin-right: 30px;
    white-space: nowrap;
    text-align: center;
}
.option-list ul .layui-tpl{
    width: auto;
    display: flex;
    flex-wrap: wrap;

}
.option-list ul li.selection{
    background: #fff;
}
.option-list ul li {
    white-space: nowrap;
    cursor:pointer;
    padding: 9px 26px;
    font-size: 16px;
    border: 2px solid #f5f5f5;
    border-radius: 3px;
    margin: 0 16px 8px 0;
    box-sizing: border-box;
}
.option-list ul li:hover{
    box-sizing: border-box;
    border: 2px solid rgb(255,39,130);
}
.option-list ul li a{
    color: #000;
}
.option-list .addOpen{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.activeCatgray{
    background-color: rgb(255,39,130);
    color: #fff;
    border: 2px solid #f5f5f5;
}
